.checkout_ad {
  width: 100%;
  max-height: 100px;
  margin-bottom: 10px;
} 
.checkout {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  height: max-content;
  object-fit: contain;
}
.checkout_title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.subtotalc {
  min-width: 400px;
}
.corders {
  min-width: 300px;
  max-width: 1080px !important;
  
  /* width: 100vw; */
}
.combined {
  width: 100%;
  flex-wrap: wrap;
}
.checkout >h3{
  color: #9f56fd;
}