.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}
.product:hover {
  scale: 1.02;
  transition: 0.2s;
  border: 1px solid #bf95f7;
}
.product:active {
  scale: 1.02;
  transition: 0.2s;
  border: 1px solid lightgray;
}
.product_rating {
  display: flex;
}
.card {
  padding: auto;
  max-width: 300px;
}
.productimg {
  max-height: 200px;
  /* max-width: 350px; */
  object-fit: contain;
  padding: 15px;
  /* margin: 15px; */
}

.btn {
  background: #bf95f7;
  border: 1px solid;
  margin-top: 10px;
  border-color: #bf95f7;
  color: #111;
}

.product_price {
  margin-top: 5px;
}

.product_info {
  height: 100px;
  margin-bottom: 15px;
}
